body {
    width: 1400px;
    height: 2989px;
    margin: auto;
    border: 1px solid rgb(180, 179, 179);
}
a {
    text-decoration: none;
}
.upmenu {
    width: 1401px;
    height: 44px;
    background-color: #4CB1CA;
    margin-top: 2px;
    position: absolute;
    display: inline-block;
}
.language {
    margin-top:16px;
    margin-left: 188px;
    font-size: 0.8em;
    color:white;
    position: absolute;
    opacity: 0.7;
}
.langEng {
    margin-top:16px;
    margin-left: 249px;
    font-size: 0.8em;
    color:white;
    position: absolute;
}
div[class^=arrow-down] {
    border: solid rgb(245, 243, 243);
    border-width: 0 1px 1px 0;
    padding: 2px;
    transform: rotate(45deg);
    position: absolute; 
    opacity: 0.9; 
}
div[class^=arrow-down]:hover {
    cursor: pointer;
    opacity: 1;
}
.currency {
    margin-top:16px;
    margin-left: 319px;
    font-size: 0.8em;
    color:white;
    position: absolute;
    opacity: 0.7;
}
.usd {
    margin-top:16px;
    margin-left: 376px;
    font-size: 0.8em;
    color:white;
    position: absolute;
}
.langEng:hover,.usd:hover {
    cursor: pointer;
    opacity: 0.8;
}
.arrow-down {
    margin-top:19px;
    margin-left: 294px;
}
.arrow-down2 {
    margin-top:19px;
    margin-left: 407px; 
}
.menu1 {
    margin-top:13px;
    margin-left: 855px;
    position: absolute;
    text-align:center;
    
}
.menu1 li {
    display: inline;
    line-height: 10px;
    padding: 0px 10px 0px 10px;
    border-right:1px solid white;
}
.menu1 li:last-child {
    border-right: none;  
}
.menu1 li>a {
    text-decoration: none;
    font-size: 0.8em;
    color:rgb(252, 248, 248);
    opacity: 0.8;
    
}
.menu1 li>a:hover {
    opacity: 1;
    color: white;
}
.upmenu2 {
    width: 1401px;
    height: 106px;
    margin-top:46px;
    background-color: #cee2e7;
    position: absolute;
    display: inline-block;
}
.logo {
    width: 192px;
    height: 26px;
    margin-top:33px;
    margin-left:190px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.4em;
    position: absolute;
    font-weight: 700;
    color:rgb(109, 107, 109)
}
.logo:hover {
    text-shadow: 1px 1px 12px white;
    color:rgb(134, 133, 133);
}
.menu2 {
    width: 346px;
    height: 10px;
    margin-top:46px;
    margin-left: 415px;
    position: absolute;
    text-align:center;
}
.menu2 li {
    display: inline;
    padding: 0px 12px 0px 12px;
}
.menu2>li>a {
    text-decoration: none;
    font-size: 0.8em;
    color:rgb(80, 73, 73);
    opacity: 0.9;
    font-weight:bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
.menu2 li>a:hover {
    opacity: 1;
    color: rgb(185, 178, 178);
}
.poisk {
    z-index: 1;
    width: 175px;
    height: 30px;
    margin-top: 38px;
    margin-left: 874px;
    border: 1px solid gray;
    background-color: rgb(235, 222, 222);
    opacity: 0.7;
    position: absolute;
    box-shadow: 1px 1px 1px #4CB1CA;
}
.poisk:hover {
    cursor: text;
}
.lupa {
    z-index: 2;
    width: 15px;
    height: 15px;
    margin-top: 8px;
    margin-left: 155px;
    background-image: url(./img/poisk1.png);
    background-size: 100% 100%;
    background-color: rgb(235, 222, 222);
    background-repeat: no-repeat;
    position: absolute;
}
.lupa:hover {
    cursor: pointer;
}
.search {
    z-index: 2;
    width: 48px;
    height: 10px;
    margin-top: 8px;
    margin-left: 14px;
    font-size: 0.8em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color:rgb(165, 151, 151);
    position: absolute;
    opacity: 0.7;
}
.search:hover {
    cursor: text;
}
.silka_icon {
    width: 36px;
    height: 36px;
    margin-top: 36px;
    margin-left: 1062px;
    background-image: url(./img/sil_icon.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
}
.korzinka_icon {
    width: 36px;
    height: 36px;
    margin-top: 36px;
    margin-left: 1101px;
    background-image: url(./img/korzinka_icon.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
}
.korzinka_icon:hover,.silka_icon:hover {
    transform: skew(-20deg, 20deg);
}
.cart {
    width: 59x;
    height: 12px;
    margin-top: 46px;
    margin-left: 1145px;
    font-size: 0.8em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color:rgb(80, 73, 73);
    position: absolute;
    font-weight: bolder;
}
.cart:hover {
    color:rgb(133, 112, 112);
}
.ochkifon {
    z-index: 1;
    width: 1400px;
    height: 475px;
    margin-top: 150px;
    background-image: url(./img/ochkifon.png);
    background-repeat: no-repeat;
    position: absolute;
}
.ochkifon2 {
    z-index: 3;
    width: 1400px;
    height: 475px;
    background-color: rgb(74, 29, 21);
    position: absolute;
    opacity: 0.1;
}
.podpis1 {
    width: 285px;
    height: 47px;
    background-color:#736C63;
    margin-top: 189px;
    margin-left: 236px;
    position: absolute;
}
.altext {
    margin-top: 5px;
    margin-left: 34px;
    font-size: 1.6em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    color: thistle;
}
.podpis2 {
    width: 320px;
    height: 47px;
    background-color: #736C63;
    margin-top: 239px;
    margin-left: 236px;
    position: absolute;
}
.extext {
    margin-top: 4px;
    margin-left: 28px;
    font-size: 1.6em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    color: thistle;
    font-weight: bold;
}
div[class^="elips"] {
    z-index: 4;
    width: 68px;
    height: 68px;
    margin-top: 202px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.4;
    position: absolute;
}
.elips1 {
    margin-left: 120px;
}
.elips2 {
    margin-left: 1211px;
}
.elips1:hover, .elips2:hover {
    opacity: 0.7;
}
div[class^="bigarrow"] {
    z-index: 4;
    border: solid rgb(68, 67, 67);
    border-width: 0 4px 4px 0;
    padding: 9px;
    position: absolute; 
    opacity: 0.9; 
}
div[class^="bigarrow"]:hover {
    border: solid rgb(198, 218, 23);
    border-width: 0 4px 4px 0;
}
.bigarrow {
    margin-top: 24px;
    margin-left: 27px;
    transform: rotate(135deg);
}
.bigarrow2 {
    margin-top: 24px;
    margin-left: 19px;
    transform: rotate(315deg);
}
.fepro {
    margin-top: 672px;
    margin-left: 188px;
    font-size: 1.4em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    color: rgb(82, 80, 82);
    font-weight: bold;
}
.fepro:hover {
    text-shadow: 0px 0px 3px rgb(165, 156, 156);
}
div[class^="prod"] {

    width: 234px;
    height: 314px;
    background-color: white;
    position: absolute;
    box-shadow: 0px 0px 3px gray;
    color:#EFF1F0;
}
div[class^="lentochblock"] {
    width: 240px;
    height: 317px;
    position: absolute;
    overflow: hidden;
}
.lentochblock1 {
    margin-top:709px ;
    margin-left:187px ;
}
.lentochka {
    width: 337px;
    height: 37px;
    margin-top: 10px;
    margin-left: -132px;
    background-color: rgb(129, 241, 16);
    position: absolute;
    z-index: 3;
    transform: rotate(314deg);
    text-align: center;
    color: cornsilk;
    font-size: 1.5em; 
    box-shadow: 0px 0px 2px green;
    opacity: 0.8;
 }
 .lentochtext {
    margin-top: 7px;
    margin-left: 136px;
    position: absolute;
    z-index: 3;
    text-align: center;
    color: cornsilk;
    font-size: 0.9em;
 }
 .lentochka2 {
    width: 337px;
    height: 37px;
    margin-top: 22px;
    margin-left: 43px;
    background-color: rgb(24, 113, 196);
    position: absolute;
    z-index: 3;
    transform: rotate(49deg);
    text-align: center;
    color: cornsilk;
    font-size: 1.5em; 
    box-shadow: 0px 0px 2px rgb(14, 11, 219);
    border: 1px solid rgb(148, 148, 248);
    opacity: 0.9;
 }
 .lentochtext2 {
    margin-top: 6px;
    margin-left: 132px;
    position: absolute;
    z-index: 3;
    text-align: center;
    color: cornsilk;
    font-size: 0.9em;
 }
.prod1 {
    margin-top:3px ;
    margin-left:3px;
}
.prod1::before,.prod5::before,
.prod7::before,.prod9::before,
.prod10::before,.prod12::before,
.prod13::before,.prod14::before,
.prod15::before {
    width: 51px;
    height: 6px;
    left: 146px;
    top: -6px;
    background: #035ea8;
    border-radius: 8px 0px 0px 0px;
    content: '';
    position: absolute;
    opacity: 0.3;
}  
.prod1::after,.prod5::after,
.prod7::after,.prod9::after,
.prod10::after,.prod12::after,
.prod13::after,.prod14::after,
.prod15::after {
    width: 3px;
    height: 58px;
    left: 234px;
    top: 44px;
    background: #035ea8;
    border-radius: 0px 0px 8px 0px;
    content: '';
    position: absolute;
    opacity: 0.3;
}
.prod3::before,.prod8::before {
    width: 51px;
    height: 6px;
    left: 43px;
    top: -6px;
    background: #1ca30f;
    border-radius: 0px 8px 0px 0px;
    content: '';
    position: absolute;
    opacity: 0.3;
}  
.prod3::after,.prod8::after {
    width: 3px;
    height: 56px;
    left: -3px;
    top: 42px;
    background: #1ca30f;
    border-radius: 0px 0px 0px 8px;
    content: '';
    position: absolute;
    opacity: 0.3;
}
div[class^="prfoto"] {
    margin-top: 7px;
    margin-left: 7px;
    z-index: 2;
    width: 220px;
    height: 220px;
    position: absolute;    
    background-repeat: no-repeat;
    background-position: center;
}
.prfoto1 {
 background-image: url(./img/ochki1.png);
}
.sloyfoto {
    margin-top: 7px;
    margin-left: 7px;
    z-index: 3;
    width: 220px;
    height: 220px;
    position: absolute;
    background-color: rgb(102, 123, 126);
    opacity: 0.1;
}
.sloyfoto:hover {
    opacity: 0;
}
.nazvanie {
    margin-top: 240px;
    margin-left: 11px;
    width: 150px;
    height: 1.1em;
    z-index: 2;
    font-size: 1.1em;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
}
.nazvanie:hover {
    font-size: 1.15em;
}
.cena {    
    margin-top: 7px;
    margin-left: 11px;
    z-index: 3;
    font-size: 1.1em;
    color: rgb(66, 172, 24);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cena:hover {
    font-size: 1.15em;
}
.cena_skidka {    
    margin-top: 7px;
    margin-left: 11px;
    z-index: 3;
    font-size: 1.1em;
    color: rgb(66, 172, 24);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cena_skidka:hover {
    font-size: 1.15em;
}
.cena_skidka::before {
    content: '$460 ';
    text-decoration: line-through;
    font-size: 0.9em;
    color: black;
} 
.korz {
    margin-top: -49px;
    margin-left: 170px;
    z-index: 3;
    width: 50px;
    height: 50px;
    background-image: url(./img/korzinka_icon2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.korz:hover {
    transform: translateY(-2px);
}

.prod2 {
    margin-top:712px ;
    margin-left:451px ;
}
.prfoto2 {
    background-image: url(./img/ochki2.png);
}
.lentochblock3 {
    margin-top:709px ;
    margin-left:709px ;
}
.prod3 {
    margin-top:3px ;
    margin-left:3px ;
}  

.prfoto3 {
    background-image: url(./img/ochki3.png);
}
.prod4 {
    margin-top:1052px ;
    margin-left:190px ;
}
.prfoto4 {
    background-image: url(./img/ochki4.png);
}
.lentochblock5 {
    margin-top:1049px ;
    margin-left:448px ;
}
.prod5 {
    margin-top:3px ;
    margin-left:3px ;
}
.prfoto5 {
    background-image: url(./img/ochki5.png);
}
.prod6 {
    margin-top:1052px ;
    margin-left:712px ;
}
.prfoto6 {
    background-image: url(./img/ochki6.png);
} 
.lentochblock7 {
    margin-top:1389px ;
    margin-left:187px ;
}
.prod7 {
    margin-top:3px ;
    margin-left:3px ;
}
.prfoto7 {
    background-image: url(./img/ochki7.png);
}
.lentochblock8 {
    margin-top:1389px ;
    margin-left:447px ;
}
.prod8 {
    margin-top:3px ;
    margin-left:3px ;
}
.prfoto8 {
    background-image: url(./img/ochki8.png);
}
.lentochblock9 {
    margin-top:1389px ;
    margin-left:709px ;
}
.prod9 {
    margin-top:3px ;
    margin-left:3px ;
}
.prfoto9 {
    background-image: url(./img/ochki9.png);
}  
.lentochblock10 {
    margin-top:1729px ;
    margin-left:187px ;
}
.prod10 {
    margin-top:3px ;
    margin-left:3px ;
}
.prfoto10 {
    background-image: url(./img/ochki1.png);
}
.prod11 {
    margin-top:1732px ;
    margin-left:451px ;
}
.prfoto11 {
    background-image: url(./img/ochki2.png);
}
.lentochblock12 {
    margin-top:1729px ;
    margin-left:709px ;
}
.prod12 {
    margin-top:3px ;
    margin-left:3px ;
}
.prfoto12 {
    background-image: url(./img/ochki3.png);
}
.lentochblock13 {
    margin-top:2069px ;
    margin-left:187px ;
}
.prod13 {
    margin-top:3px ;
    margin-left:3px ;
}
.prfoto13 {
    background-image: url(./img/ochki4.png);
}
.lentochblock14 {
    margin-top:2069px ;
    margin-left:447px ;
}
.prod14 {
    margin-top:3px ;
    margin-left:3px ;
}
.prfoto14 {
    background-image: url(./img/ochki5.png);
}
.lentochblock15 {
    margin-top:2069px ;
    margin-left:709px ;
}
.prod15 {
    margin-top:3px ;
    margin-left:3px ;
}
.prfoto15 {
    background-image: url(./img/ochki6.png);
}
.rightMenu1 {
    width: 234px;
    height: 486px;
    margin-top:672px;
    margin-left: 975px;
    background-color: white;
    position: absolute;
    border-top: 7px solid #4CB1CA;
    box-shadow: 0px 0px 5px rgb(177, 166, 166);
}
.devushkafoto {
    width: 234px;
    height: 388px;
    margin-top:59px;
    margin-left: 0px;
    background-image: url(./img/devushka.png);
    background-size: 200%;
    background-position:-124px -37px ;
    background-repeat: no-repeat;
    position: absolute;
    border: 10px solid white;
    box-sizing: border-box;
}
.devushkafoto:hover {
    opacity: 1;

}
.podpisRmenu {
    width: 114px;
    height: 40px;
    margin-top:20px;
    margin-left:60px;
    font-size: 1.3em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    color: rgb(82, 80, 82);
    text-align: center;
}
.podpisRmenu:hover {
    color: rgb(104, 83, 83);
    text-shadow:0px 0px 2px rgb(124, 199, 211);
}
.knopkaRmenu {
    width: 133px;
    height: 45px;
    margin-top:384px;
    margin-left:50px;
    background-color: #4CB1CA;
    position: absolute;
    opacity: 0.9;
    border: 1px solid rgb(90, 183, 183);
}
.knopkaRmenu:hover {
    background-color: #479cb1;
    box-shadow: 0px 0px 7px rgb(82, 158, 158);
}
.knopkaRmenutxt:hover {
    color: white;
}
.knopkaRmenutxt {
    width: 88px;
    height: 15px;
    margin-top: 11px;
    margin-left:22px;
    font-size: 1em;
    position: absolute;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.allElips {
    width: 234px;
    height: 37px;
    margin-top: 449px;
    margin-left:0px;
    position: absolute;
    box-shadow: 0px -1px 2px rgb(147, 147, 158);
}
.eli1 {
    width: 12px;
    height: 12px;
    margin-top: 15px;
    margin-left:89px;
    position: absolute;
    background-color: #4CB1CA;
    border-radius: 50%;
}
.eli2 {
    width: 12px;
    height: 12px;
    margin-top: 15px;
    margin-left:111px;
    position: absolute;
    background-color: rgb(129, 241, 16);
    border-radius: 50%;
}
.eli3 {
    width: 12px;
    height: 12px;
    margin-top: 15px;
    margin-left:133px;
    position: absolute;
    background-color: rgb(129, 241, 16);
    border-radius: 50%;
}
.rightMenu2 {
    width: 234px;
    height: 282px;
    margin-top:1188px;
    margin-left: 975px;
    background-color: white;
    position: absolute;
    border-top: 7px solid #4CB1CA;
    box-shadow: 0px 0px 5px rgb(177, 166, 166);
}
.podpisRmenu2 {
    width: 156px;
    height: 46px;
    margin-top:31px;
    margin-left:40px;
    font-size: 1.3em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    color: rgb(82, 80, 82);
    text-align: center;
}
.textRmenu2 {
    width: 187px;
    height: 34px;
    margin-top:96px;
    margin-left:25px;
    font-size: 0.9em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    color: rgb(82, 80, 82);
    text-align: center;
}
.poloska {
    width: 78px;
    height: 2px;
    margin-top: 146px;
    margin-left: 79px;
    background-color: grey;
    position: absolute;
    opacity: 0.8;
}
.poisk2 {
    width: 186px;
    height: 30px;
    margin-top: 161px;
    margin-left: 24px;
    border: 1px solid gray;
    background-color: rgb(235, 222, 222);
    opacity: 0.7;
    position: absolute;
    box-shadow: 1px 1px 1px #4CB1CA;
}
.poisk2:hover {
    cursor: text;
}
.knopkaRmenu2 {
    width: 113px;
    height: 45px;
    margin-top:210px;
    margin-left:60px;
    background-color:#7EB123;
    position: absolute;
    opacity: 0.9;
    border: 1px solid rgb(170, 238, 182);
}
.knopkaRmenu2:hover {
    background-color:#6f9b23;
    box-shadow: 0px 0px 2px rgb(6, 133, 23);
}
.knopkaRmenutxt2 {
    width: 88px;
    height: 15px;
    margin-top: 10px;
    margin-left:23px;
    font-size: 1em;
    position: absolute;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.fooBlock1 {
    width: 1400px;
    height: 106px;
    margin-top: 2485px;
    background-color: #4CB1CA;
    position: absolute;
}
.dostavkaLogo {
    width: 66px;
    height: 66px;
    margin-top: 20px;
    margin-left: 187px;
    background-image: url(./img/dostavka.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
}
.telefonLogo {
    width: 66px;
    height: 66px;
    margin-top: 20px;
    margin-left: 742px;
    background-image: url(./img/telefonchik.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
}
.dostavkaInfo {
    width: 383px;
    height: 17px;
    margin-top: 42px;
    margin-left: 273px;
    position: absolute;
    font-size: 1.3em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.telefonInfo {
    width: 350px;
    height: 15px;
    margin-top: 42px;
    margin-left: 828px;
    position: absolute;
    font-size: 1.3em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.dostavkaLogo:hover, .telefonLogo:hover,
 .twitIcon:hover, .twitIcon2:hover,
 .googleIcon:hover, .inIcon:hover,
 .wifiIcon:hover, .face2Icon:hover {
transform: skew(-20deg, 20deg);
}
.dostavkaInfo:hover, .telefonInfo:hover,
 .facebook:hover, .fromTwitter:hover,
  .information:hover, .contactUs:hover  {
    font-size: 1.35em;
}
.fooBlock2 {
    width: 1400px;
    height: 333px;
    margin-top: 2591px;
    background-color: #39A0B9;
    position: absolute;
}
.facebook {
    width: 150px;
    height: 14px;
    margin-top: 49px;
    margin-left: 188px;
    position: absolute;
    font-size: 1.3em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.members {
    width: 96px;
    height: 10px;
    margin-top: 88px;
    margin-left: 187px;
    position: absolute;
    font-size: 0.8em;
    color:white;
    position: absolute;
    opacity: 0.7;
}
.like {
    width: 47px;
    height: 23px;
    margin-top: 104px;
    margin-left: 187px;
    background-image: url(./img/like.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
}
.poloska2 {
    width: 234px;
    height: 2px;
    margin-top: 131px;
    margin-left: 187px;
    background-color: rgb(59, 222, 228);
    position: absolute;
    opacity: 0.4;
}
.lico1 {
    width: 50px;
    height: 50px;
    margin-top: 140px;
    margin-left: 188px;
    background-image: url(./img/lico1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
}
.lico2 {
    width: 50px;
    height: 50px;
    margin-top: 140px;
    margin-left: 249px;
    background-image: url(./img/lico2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
}
.lico3 {
    width: 50px;
    height: 50px;
    margin-top: 140px;
    margin-left: 309px;
    background-image: url(./img/lico3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
}
.lico4 {
    width: 50px;
    height: 50px;
    margin-top: 140px;
    margin-left: 369px;
    background-image: url(./img/lico4.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
}
.lico5 {
    width: 50px;
    height: 50px;
    margin-top: 200px;
    margin-left: 188px;
    background-image: url(./img/lico4.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
}
.lico6 {
    width: 50px;
    height: 50px;
    margin-top: 200px;
    margin-left: 249px;
    background-image: url(./img/lico3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
}
.lico7 {
    width: 50px;
    height: 50px;
    margin-top: 200px;
    margin-left: 309px;
    background-image: url(./img/lico2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
}
.lico8 {
    width: 50px;
    height: 50px;
    margin-top: 200px;
    margin-left: 369px;
    background-image: url(./img/lico1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
}
.social {
    width: 135px;
    height: 13px;
    margin-top: 269px;
    margin-left: 186px;
    position: absolute;
    font-size: 0.8em;
    color:white;
    position: absolute;
    opacity: 0.7;
}
.poloska3 {
    width: 234px;
    height: 2px;
    margin-top: 256px;
    margin-left: 187px;
    background-color: rgb(59, 222, 228);
    position: absolute;
    opacity: 0.4;
}
.fromTwitter {
    width: 160px;
    height: 14px;
    margin-top: 49px;
    margin-left: 471px;
    position: absolute;
    font-size: 1.3em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.twitIcon {
    width: 44px;
    height: 44px;
    margin-top: 92px;
    margin-left: 471px;
    background-image: url(./img/twtter.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
}
.twitIcon2 {
    width: 44px;
    height: 44px;
    margin-top: 193px;
    margin-left: 471px;
    background-image: url(./img/twtter.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
}
.twittext {
    width: 165px;
    height: 70px;
    margin-top: 98px;
    margin-left: 528px;
    position: absolute;
    font-size: 0.8em;
    color:white;
    position: absolute;
}
.twittext2 {
    width: 165px;
    height: 70px;
    margin-top: 199px;
    margin-left: 528px;
    position: absolute;
    font-size: 0.8em;
    color:white;
    position: absolute;
}
.opa {
    opacity: 0.5;
}
.information {
    width: 102px;
    height: 14px;
    margin-top: 49px;
    margin-left: 766px;
    position: absolute;
    font-size: 1.3em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.infospisok {
    list-style-image: url(./img/strelochka.png);
    width: 168px;
    height: 133px;
    margin-top: 98px;
    margin-left: 724px;
    font-size: 0.8em;
    position: absolute;
    color:white;
}
.infospisok li>a {
    text-decoration: none;
    font-size: 1em;
    color:rgb(252, 248, 248);
}
.infospisok li>a:hover {
    color:rgb(13, 13, 14);
}
.infospisok li {
    margin:5px;
}
.infospisok:hover, .contacts:hover,
 .twittext:hover, .twittext2:hover {
     color:rgb(13, 13, 14);
}
.contactUs {
    width: 150px;
    height: 14px;
    margin-top: 49px;
    margin-left: 1016px;
    position: absolute;
    font-size: 1.3em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.infospisok>a {
    text-decoration: none;
}
.contacts {
    width: 116px;
    height: 106px;
    margin-top: 100px;
    margin-left: 1019px;
    position: absolute;
    font-size: 0.8em;
    color:white;
    position: absolute;
    line-height: 1.5;
}
.contacts:hover {
    cursor: pointer;
}
.contacts1 {
    width: 116px;
    height: 106px;
    margin-top: 160px;
    margin-left: 1019px;
    position: absolute;
    font-size: 0.8em;
    color:white;
    position: absolute;
    line-height: 1.5;
}
.contacts1 a {
    width: 116px;
    height: 106px;
    position: absolute;
    font-size: 0.9em;
    color:white;
    position: absolute;
    line-height: 1.5;
}
.contacts1 a:hover {
    position: absolute;
    font-size: 0.9em;
    color:black;
    position: absolute;
    line-height: 1.5;
}
.poloska4 {
    width: 197px;
    height: 2px;
    margin-top: 207px;
    margin-left: 1013px;
    background-color: rgb(59, 222, 228);
    position: absolute;
    opacity: 0.4;
}
.googleIcon {
    width: 37px;
    height: 37px;
    margin-top: 221px;
    margin-left: 1016px;
    background-image: url(./img/google.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
}
.inIcon {
    width: 37px;
    height: 37px;
    margin-top: 221px;
    margin-left: 1062px;
    background-image: url(./img/in.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
}
.wifiIcon {
    width: 37px;
    height: 37px;
    margin-top: 221px;
    margin-left: 1108px;
    background-image: url(./img/wifi.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
}
.face2Icon {
    width: 37px;
    height: 37px;
    margin-top: 221px;
    margin-left: 1153px;
    background-image: url(./img/face.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
}
.fooBlock3 {
    width: 1400px;
    height: 65px;
    margin-top: 2924px;
    background-color: #0B4B5A;
    position: absolute;
}
.prava {
    margin-top:25px;
    margin-left: 192px;
    font-size: 0.8em;
    color:white;
    position: absolute;
    opacity: 0.7;
}
.prava:hover {
    text-shadow: 0px 0px 2px white;
}
.menu3 {
    margin-top:25px;
    margin-left: 800px;
    position: absolute;
    text-align:center;
    
}
.menu3 li {
    display: inline;
    line-height: 10px;
    padding: 0px 10px 0px 20px;
    border-right:1px solid white;
}
.menu3 li:last-child {
    border-right: none;  
}
.menu3 li>a {
    text-decoration: none;
    font-size: 0.8em;
    color:rgb(252, 248, 248);
    opacity: 0.8;
}
.menu3 li>a:hover {
    opacity: 1;
    color: white;
}

